#AuthUserFile /var/www/subdomains/downloads/public/CLIENT_NAME_TO_REPLACE/.htpasswd
#AuthType Basic
#AuthName "Username: guest"

#Require valid-user

DirectoryIndex index.html index.htm default.htm index.php index.xhtml .index.php

#<FilesMatch "\.(doc|jpe?g|png|odf|pdf|txt)$">
#	ForceType application/octet-stream
#	Header set Content-Disposition attachment
#</FilesMatch>

Options +FollowSymlinks
RewriteEngine On
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^/.index.php - [L]

RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^([^/]+)/?$ ?dir=$1 [R,L]

